#delete:hover {
  border: 3px solid red;
}

#pin:hover {
  border: 3px solid blue;
}

#unpin:hover {
  border: 3px solid purple;
}

#incomplete:hover {
  border: 3px solid orange;
}

#complete:hover {
  border: 3px solid greenyellow;
}
