<h1 *ngIf="(todo$ | async).todos.length">In Progress 🟧</h1>
<div cdkDropList (cdkDropListDropped)="dragAndDrop($event)">
  <ng-container *ngFor="let todo of (todo$ | async).todos">
    <ul class="example-list" class="list-group">
      <ng-container *ngIf="itemsCurrenlyDraggable; else elseTemplate">
        <li
          cdkDrag
          class="list-group-item draggable-items"
          ngbTooltip="{{ todo.title }}: Drag Me!">
          {{ todo.title }}
        </li>
      </ng-container>
      <ng-template #elseTemplate>
        <li
        class="list-group-item not-draggable"
        [contentEditable]="todo.editMode"
        (dblclick)="editMode(todo)">
        {{ todo.title }}
        <action-buttons
          [todo]="todo"
          [section]="todoSection.Todo">
        </action-buttons>
      </li>
      </ng-template>
    </ul>
  </ng-container>
</div>
