<ng-container *ngIf="(todo$ | async).todos.length">
  <h1>In Progress 🟧</h1>
  <div cdkDropList (cdkDropListDropped)="dragAndDrop($event)">
    <ng-container *ngFor="let todo of (todo$ | async).todos">
      <ul class="list-group">
        <ng-container *ngIf="(itemsCurrenlyDraggable | async); else notDraggable">
          <li
            cdkDrag
            class="list-group-item draggable-items"
            ngbTooltip="{{ todo.title }}: Drag Me!">
            {{ todo.title }}
          </li>
        </ng-container>
        <ng-template #notDraggable>
          <li
          class="list-group-item not-draggable"
          [contentEditable]="todo.editMode"
          (dblclick)="editMode(todo)">
          {{ todo.title }}
          <action-buttons
            [todo]="todo">
            <button ngbDropdownItem id="pin" (click)="togglePinned(todo, true)">Pin 📌</button>
          </action-buttons>
        </li>
        </ng-template>
      </ul>
    </ng-container>
  </div>
  <div class="dropdown-divider"></div>
</ng-container>
